<app-navbar></app-navbar>
<app-input-product></app-input-product>
<div style="margin-bottom: 20px"></div>
<div class="container">
      @for (item of this.storeService.products; track $index) {
        <app-product-cart   [product]="item"></app-product-cart>
      }
</div>
  <div class="separator"></div>

  <div class="section">
    <h1 class="section-title">Your Cart</h1>
    <div class="farm3">
      @for (item of this.storeService.cart; track $index) {
        <div class="cart">
          <img src="{{ item.img }}" alt="{{ item.name }}" />
          <div class="textcard">Tên mặt hàng: {{ item.name }}</div>
          <div class="textcard">Số lượng mua: {{ item.quantity }}</div>
          <div class="textcard">Đơn giá: {{ item.price }}.000 VND</div>
          <div class="button-container">
            <button (click)="this.storeService.removeFromCart($index)">Xóa</button>
          </div>
        </div>
      }
    </div>
  </div>
<div class="total-container">
  <div class="total-text">Tổng tiền: {{this.storeService.totalAmount}} .000 VND</div>
  <button (click)="storeService.checkout()">Thanh toán</button>
</div>

